<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanghuadi.mapper.ArticleMapper">
<!-- map.put("title", title);
		map.put("startTime", startTime);
		map.put("endTime", endTime); -->
	<select id="queryAll" parameterType="map" resultType="com.wanghuadi.bean.Article">
		select * from article 
		<where>
			<if test="title != null and title !=''">
				and title like '%${title}%'
			</if>
			
			<if test="startTime != null and startTime !=''">
				and created >=#{startTime}
			</if>
			
			
			<if test="endTime != null and endTime !=''">
				and created &lt;=#{endTime}
			</if>
		</where>
	</select>

	<insert id="insertArticle" parameterType="com.wanghuadi.bean.Article">
		insert into article 
		(title,content,status,created)
		values
		(#{title},#{content},#{status},#{created})
	</insert>

</mapper>